<div id="mainWrapp">
    <div id="mainContent" class="wid_940 m_center mar-t_30 mar-b_30">
        <h1>キャンセルポリシー</h1>
        <p class="mar-b_10">《各役務提供事業者のサービスの申込みページに各自のキャンセルポリシーが掲載されている場合でも、本キャンセルポリシー及び「引越しカテゴリ」におけるキャンセルポリシーが優先されます。》</p>
        <p>本サイト上のマイページにてキャンセルの申込をお願いいたします。<br>キャンセル料金については以下のとおりです。</p>
        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">キャンセル料金</h2>
        <p class="mar-b_10">※役務提供の申込後、当社からの役務提供日確定の通知をもって、役務提供日の確定とします。</p>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="wid_40 mar-l_-40 dis_i-b">（1）</span>役務提供日確定前のキャンセル：無料（※1）</li>
            <li class="mar-b_5"><span class="wid_40 mar-l_-40 dis_i-b">（2）</span>役務提供日確定から48時間以内のキャンセル：無料（※1、2）</li>
            <li class="mar-b_5"><span class="wid_40 mar-l_-40 dis_i-b">（3）</span>役務提供日5日前までのキャンセル：無料</li>
            <li class="mar-b_5"><span class="wid_40 mar-l_-40 dis_i-b">（4）</span>役務提供日4日前～2日前までのキャンセル：予約金額（申込時にシステム上で表示される仮予約時の金額をいい、実際の取引の金額とは異なります。以下同様です。）の25%</li>
            <li class="mar-b_5"><span class="wid_40 mar-l_-40 dis_i-b">（5）</span>役務提供日前日までのキャンセル：予約金額の50%</li>
            <li class="mar-b_5"><span class="wid_40 mar-l_-40 dis_i-b">（6）</span>役務提供日当日のキャンセル：予約金額の100％</li>
        </ul>
        <p class="mar-t_10">※1（1）及び（2）のキャンセルは、「くらしのマーケット」（<a href="https://curama.jp/" target="_blank">https://curama.jp/</a>）の会員登録時から起算して年3回まで無料でご利用可能です。4回目以降は（4）〜（6）記載のキャンセル料金を頂戴することがあります。</p><p>
        </p><p class="mar-t_10 mar-b_30">※2　役務提供日確定が、役務提供確定日の5日前以降になされた場合であっても、役務提供日確定から48時間以内のキャンセルの場合は、（2）が適用されます。</p>

        <h3>「引越しカテゴリ」におけるキャンセル料金</h3>
        <p class="mar-b_10">各役務提供事業者の提供するサービスが「引越しカテゴリ」に属するものである場合には、キャンセル料はこちらが適用されるものとします。</p>
        <ul class="m_list_none mar-l_60 mar-b_10">
            <li class="mar-b_5"><span class="wid_40 mar-l_-40 dis_i-b">（1）</span>サービスの提供予定日の3日前までのキャンセル又はサービスの提供予定日の変更：無料</li>
            <li class="mar-b_5"><span class="wid_40 mar-l_-40 dis_i-b">（2）</span>サービスの提供予定日の2日前までのキャンセル又はサービスの提供予定日の変更：予約金額の20％（※3、4）</li>
            <li class="mar-b_5"><span class="wid_40 mar-l_-40 dis_i-b">（3）</span>サービスの提供予定日の前日のキャンセル又はサービスの提供予日の変更：予約金額の30％（※3、4）</li>
            <li class="mar-b_5"><span class="wid_40 mar-l_-40 dis_i-b">（4）</span>サービスの提供予定日の当日のキャンセル又はサービスの提供予定日の変更：予約金額の50％（※3、4）</li>
        </ul>
        <p class="mar-b_10">※3 キャンセルの原因が予約者の責任による場合には、（2）〜（4）のキャンセル料金とは別に、各役務提供事業者が既に実施し、又は着手した附帯サービスに要した費用（申込みページに明記したものに限る。）を収受します。</p><p>
        </p><p>※4 役務提供事業者が、サービスの提供予定日の3日前までに、予約者に対して引越運送サービスの内容又は提供予定日の変更の有無について確認を行わなかった場合には、上記（2）〜（4）及び※3の費用は発生致しません。</p>

        <div class="tex-a_r mar-b_30 mar-t_40">
            <p class="tex-a_r mar-r_10">以上</p>
        </div>
        <div class="mar-b_15 lin-h_20">
            <ul class="m_list_none fon-s_12 m_breadcrumb">
                <li class="dis_i" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span itemprop="title">smart portal</span></a></li>
                <li class="dis_i" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><%= link_to "戻る", details_path(@store) %></li>
            </ul>
        </div>
    </div>
</div>
