<div id="mainWrapp">
    <div id="mainContent" class="wid_940 m_center mar-t_30 mar-b_30">
        <h1>プライバシーポリシー</h1>
        <p>
            みんなのマーケット株式会社（以下「当社」といいます。）は、個人情報保護の重要性について認識し、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）を遵守すると共に、以下のプライバシーポリシー（以下「本プライバシーポリシー」といいます。）に従い、適切な取扱い及び保護に努めます。なお、本プライバシーポリシーにおいて別段の定めがない限り、本プライバシーポリシーにおける用語の定義は、個人情報保護法の定めに従います。
        </p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">1 個人情報の定義</h2>
        <p>
            本プライバシーポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義される個人情報を意味するものとします。
        </p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">2 個人情報の利用目的</h2>
        <p class="mar-b_15">当社は、個人情報を以下の目的で利用いたします。</p>
            <ul class="m_list_none mar-l_60">
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.1</span>当社の提供する「くらしのマーケット（https://curama.jp）」（以下「本サービス」といいます。）の提供のため</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.2</span>本サービスの利用料金のご請求及び決済のため</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.3</span>本サービスに関するご案内、お問い合せ等への対応のため</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.4</span>当社の商品、サービス等のご案内のため</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.5</span>各種キャンペーン、アンケート等への応募受け付け及び対象者への連絡、発送のため&nbsp;</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.6</span>メールマガジン、お知らせなどの情報配信のため&nbsp;</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.7</span>本サービス上における広告配信のため&nbsp;</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.8</span>本サービスを安全に運営するための調査、検証等のため</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.9</span>本サービスに関する当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.10</span>本サービスに関する規約等の変更などを通知するため</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.11</span>本サービスの改善、新サービスの開発等に役立てるため</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.12</span>本サービスに関連して、個人を識別できない形式に加工した統計データを作成するため</li>
                <li><span class="dis_i-b mar-l_-40 wid_40">2.13</span>その他、上記利用目的に付随する目的のため</li>
            </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">3 個人情報利用目的の変更</h2>
        <p>当社は、個人情報の利用目的を関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合には個人情報の主体である個人（以下「本人」といいます。）に通知し又は公表します。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">4 個人情報利用の制限</h2>
        <p class="mar-b_15">当社は、個人情報保護法その他の法令により許容される場合を除き、本人の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を取り扱いません。但し、次の場合はこの限りではありません。
            </p><ul class="m_list_none mar-l_60">
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">4.1</span>法令に基づく場合</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">4.2</span>人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">4.3</span>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                <li><span class="dis_i-b mar-l_-40 wid_40">4.4</span>国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
            </ul>
        <p></p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">5 個人情報の適正な取得</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">5.1</span>当社は、適正に個人情報を取得し、偽りその他不正の手段により取得しません。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">5.2</span>当社は、第三者から個人情報の提供を受けるに際しては、個人情報保護委員会規則で定めるところにより、次に掲げる事項の確認を行います。ただし、当該第三者による当該個人情報の提供が第4項各号のいずれかに該当する場合又は第7.1項各号のいずれかに該当する場合を除きます。 </li>
                <ul class="m_list_none mar-l_60">
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-60 wid_60">5.2.(1)</span>当該第三者の氏名又は名称及び住所、並びに法人の場合はその代表者（法人でない団体で代表者又は管理人の定めのあるものの場合は、その代表者又は管理人）の氏名）</li>
                    <li><span class="dis_i-b mar-l_-40 mar-l_-60 wid_60">5.2.(2)</span>当該第三者による当該個人情報の取得の経緯</li>
                </ul>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">6 個人情報の安全管理</h2>
        <p>
            当社は、個人情報の紛失、破壊、改ざん及び漏洩などのリスクに対して、個人情報の安全管理が図られるよう、当社の従業員に対し、必要かつ適切な監督を行います。また、当社は、個人情報の取扱いの全部又は一部を委託する場合は、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。
        </p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">7 第三者提供</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">7.1</span>当社は、第4項各号のいずれかに該当する場合を除くほか、あらかじめ本人の同意を得ないで、個人情報を第三者に提供しません。但し、次に掲げる場合は上記に定める第三者への提供には該当しません。</li>
                <ul class="m_list_none mar-l_60">
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-60 wid_60">7.1.(1)</span>利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託することに伴って個人情報を提供する場合</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-60 wid_60">7.1.(2)</span>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-60 wid_60">7.1.(3)</span>個人情報保護法の定めに基づき共同利用する場合</li>
                </ul>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">7.2</span>本サービスをご利用いただいた場合、予約が成立した時点で、当社が出店者に対して、「本人に代わって」、個人情報を提供することについて同意していただいたものとみなします。出店者は、本人の個人情報を、そのサービスを本人に提供するためなどに利用しますが、当社は出店者における個人情報の取扱いについて責任を負うものではありません。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">7.3</span>当社は、個人情報を第三者に提供したときは、個人情報保護法第25条に従い、記録の作成及び保存を行います。</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">7.4</span>当社は、第三者から個人情報の提供を受けるに際しては、個人情報保護法第26条に従い、必要な確認を行い、当該確認にかかる記録の作成及び保存を行うものとします。</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">8 共同利用</h2>
        <p>当社は、以下のとおり個人情報を共同利用し、共同利用される個人情報を下記に定める利用者に提供いたします。</p>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">（1）</span>共同して利用される個人情報の項目<br>氏名、住所、電話番号、メールアドレス及び決済情報</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">（2）</span>共同して利用する者の範囲<br>株式会社stripe （https://stripe.com/jp/privacy）</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">（3）</span>利用する者の利用目的<br>本サービスの提供のため</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">（4）</span>上記個人情報の管理について責任を有する者の氏名又は名称<br>みんなのマーケット株式会社</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">9 個人情報の開示</h2>
        <p>
            当社は、本人から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、本人ご自身からのご請求であることを確認の上で、本人に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。なお、個人情報の開示につきましては、手数料（1件あたり300円）を頂戴しておりますので、あらかじめ御了承ください。
        </p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">10 個人情報の訂正等</h2>
        <p>
            当社は、本人から、個人情報が真実でないという理由によって、個人情報保護法の定めに基づきその内容の訂正、追加又は削除（以下「訂正等」といいます。）を求められた場合には、本人ご自身からのご請求であることを確認の上で、利用目的の達成に必要な範囲内において、遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正等を行い、その旨を本人に通知します（訂正等を行わない旨の決定をしたときは、本人に対しその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が訂正等の義務を負わない場合は、この限りではありません。
        </p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">11 個人情報の利用停止等</h2>
        <p>
            当社は、本人から、本人の個人情報が、あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由又は偽りその他不正の手段により取得されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止又は消去（以下「利用停止等」といいます。）を求められた場合、又は個人情報がご本人の同意なく第三者に提供されているという理由により、個人情報保護法の定めに基づきその提供の停止（以下「提供停止」といいます。）を求められた場合において、そのご請求に理由があることが判明した場合には、本人ご自身からのご請求であることを確認の上で、遅滞なく個人情報の利用停止等又は提供停止を行い、その旨を本人に通知します。但し、個人情報保護法その他の法令により、当社が利用停止等又は提供停止の義務を負わない場合は、この限りではありません。
        </p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">12 匿名加工情報の取扱い</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.1</span>当社は、匿名加工情報（個人情報保護法第2条第9項に定めるものを意味し、同法第2条第10項に定める匿名加工情報データベース等を構成するものに限ります。以下同じ。）を作成するときは、個人情報保護委員会規則で定める基準に従い、個人情報を加工するものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.2</span>当社は、匿名加工情報を作成したときは、個人情報保護委員会規則で定める基準に従い、安全管理のための措置を講じます。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.3</span>当社は、匿名加工情報を作成したときは、個人情報保護委員会規則で定めるところにより、当該匿名加工情報に含まれる個人に関する情報の項目を公表します。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.4</span>当社は、匿名加工情報（当社が作成したもの及び第三者から提供を受けたものを含みます。以下別段の定めがない限り同様とします。）を第三者に提供するときは、個人情報保護委員会規則で定めるところにより、あらかじめ、第三者に提供される匿名加工情報に含まれる個人に関する情報の項目及びその提供の方法について公表するとともに、当該第三者に対して、当該提供に係る情報が匿名加工情報である旨を明示します。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.5</span>当社は、匿名加工情報を取り扱うに当たっては、匿名加工情報の作成に用いられた個人情報に係る本人を識別するために、(1)匿名加工情報を他の情報と照合すること、及び(2)当該個人情報から削除された記述等若しくは個人識別符号又は個人情報保護法第36条第1項の規定により行われた加工の方法に関する情報を取得すること（(2)は第三者から提供を受けた当該匿名加工情報についてのみ）を行わないものとします。</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">12.6</span>当社は、匿名加工情報の安全管理のために必要かつ適切な措置、匿名加工情報の作成その他の取扱いに関する苦情の処理その他の匿名加工情報の適正な取扱いを確保するために 必要な措置を自ら講じ、かつ、当該措置の内容を公表するよう努めるものとします。</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">13 Cookie（クッキー）その他の技術の利用</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">13.1</span>本サービスは、Cookie及びこれに類する技術を利用することがあります。これらの技術は、当社による本サービスの利用状況等の把握に役立ち、サービス向上に資するものです。Cookieを無効化されたいユーザーは、ウェブブラウザの設定を変更することによりCookieを無効化することができます。但し、Cookieを無効化すると、本サービスの一部の機能をご利用いただけなくなる場合があります。</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">13.2</span>本サービスには別紙に示す当社が提携する企業による情報収集モジュールが組み込まれています。これに伴い、当該企業への利用者情報（通信サービス上での行動履歴、統計的なサイト利用情報などを意味しますが、個人識別はされず、匿名データの形で扱われます。）の提供を行います。</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10  mar-t_30">14 お問い合わせ</h2>
        <p>
            開示等のお申出、ご意見、ご質問、苦情のお申出その他個人情報の取扱いに関するお問い合わせは、以下の窓口への電話又はメールにて受け付けております。
            <br> 【ユーザー窓口係】&nbsp;
            <br> みんなのマーケット株式会社　　カスタマーサポートチーム&nbsp;
            <br> E-mail	：support[at]curama.jp
            <br> （なお、受付時間は、平日午前11時から午後5時までとさせていただきます。）
        </p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">15 継続的改善</h2>
        <p>
            当社は、個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本プライバシーポリシーを変更することがあります。
            </p><div class="tex-a_r">【令和2年8月12日改定】</div>
        <p></p>



        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">（別紙）利用者情報を提供する企業 </h2>
        <p class="mar-b_15">当該企業のプライバシーポリシーやクッキーに関する説明や無効化については当該企業または、DDAIのサイト（http://www.ddai.info/）をご覧ください。</p>
        <ul class="m_list_none mar-b_30">
            <li><a target="_blank" href="https://adssettings.google.com/authenticated">Google AdWords</a></li>
            <li><a target="_blank" href="http://send.microad.jp/w3c/index.html">株式会社マイクロアド</a></li>
            <li><a target="_blank" href="http://js.fout.jp/info/privacy.html">株式会社フリークアウト</a></li>
            <li><a target="_blank" href="https://support.twitter.com/articles/20171553">Twitter, Inc.</a></li>
            <li><a target="_blank" href="https://btoptout.yahoo.co.jp/optout/preferences.html">Yahooプロモーション広告</a></li>
            <li><a target="_blank" href="https://www.facebook.com/privacy/explanation">Facebook広告</a></li>
            <li><a target="_blank" href="http://www.criteo.com/jp/privacy/">Criteo</a></li>
            <li><a target="_blank" href="http://www.scaleout.jp/optout/">Scaleout</a></li>
            <li><a target="_blank" href="https://support.google.com/analytics/answer/6004245?hl=ja">Google Analytics</a></li>
            <li><a target="_blank" href="https://www.ptengine.jp/privacy/">ptengine</a></li>
            <li><a target="_blank" href="https://jp.marketo.com/legal/privacy.html">Marketo</a></li>
            <li><a target="_blank" href="http://www.naviplus.co.jp/corporate/privacy_policy/">Naviplus</a></li>
            <li><a target="_blank" href="https://zopimjp.com/privacy/">Zopim</a></li>
            <li><a target="_blank" href="http://www.xrost.ne.jp/contents/policy/privacy.html">株式会社Platform ID</a></li>
            <li><a target="_blank" href="http://e-omnibus.co.jp/index.html">株式会社オムニバス</a></li>
            <li><a target="_blank" href="http://www.kccs.co.jp/policy/targeting.html">京セラコミュニケーションシステム株式会社</a></li>
            <li><a target="_blank" href="http://www.aolplatforms.jp/company/privacy/">AOLプラットフォームズ・ジャパン株式会社</a></li>
            <li><a target="_blank" href="https://cyber-z.co.jp/privacy">株式会社CyberZ</a></li>
            <li><a target="_blank" href="https://corp.intimatemerger.com/privacypolicy/">株式会社Intimate Merger</a></li>
            <li><a target="_blank" href="https://www.bigmining.jp/policy/cookie/">株式会社BI.Garage</a></li>
            <li><a target="_blank" href="https://www.outbrain.com/jp/legal/privacy">Outbrain Inc.</a></li>
            <li><a target="_blank" href="https://support.google.com/dfp_premium/answer/2839090?hl=ja">Google DoubleClick</a></li>
            <li><a target="_blank" href="https://www.amazon.co.jp/adprefs">Amazon.com, Inc</a></li>
            <li><a target="_blank" href="http://akane-ad.com/optout/">GMOアドマーケティング株式会社</a></li>
            <li><a target="_blank" href="http://www.silveregg.co.jp/privacypolicy/">シルバーエッグ</a></li>
            <li><a target="_blank" href="https://karte.io/karte-policy.html">KARTE</a></li>
        </ul>


        <div class="mar-b_15 lin-h_20">
            <ol class="m_list_none fon-s_12 m_breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="dis_i" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/"><span itemprop="name">くらしのマーケット</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li class="dis_i" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <strong><span itemprop="name">プライバシーポリシー<meta itemprop="position" content="2"></span></strong>
                </li>
            </ol>
        </div>
    </div>
</div>