<div id="mainWrapp">
    <div id="mainContent" class="wid_940 m_center mar-t_30 mar-b_30">
        <h1>情報セキュリティ方針</h1>
        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">基本理念</h2>
        <p>
        みんなのマーケット株式会社(以下、当社)は、「人と人が関わるサービスを、安心して取引できる仕組みを提供すること」を理念とし、事業を行っています。<br>
        当社の事業の中で取り扱う、お客様の情報をはじめとする情報資産は、当社の経営基盤として極めて重要なものです。<br>
        漏洩、き損、滅失等のリスクから、情報資産を保護することの重要性を認識した役員や従業員を含めた、情報資産を扱う者が本方針を遵守し、情報資産の機密性、完全性、可用性といった情報セキュリティを維持するための活動を実践します。
        </p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">基本方針</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">1</span>情報資産を保護するために、情報セキュリティ方針を策定し、これに従って業務を行うとともに、情報セキュリティに関連する法令、規制その他の規範、及び、お客様との契約事項を遵守いたします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2</span>情報資産に対して存在する漏洩、き損、滅失等のリスクを分析、評価するための基準を明確にし、体系的なリスクアセスメント方法を確立するとともに、定期的にリスクアセスメントを実施いたします。また、その結果に基づき、必要かつ適切なセキュリティ対策を実施いたします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3</span>担当役員を中心とした情報セキュリティ体制を確立するとともに、情報セキュリティに関する権限および責任を明確にいたします。また、すべての従業者が、情報セキュリティの重要性を認識し、情報資産の適切な取り扱いを確実にするために、定期的に教育、訓練および啓発を行います。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">4</span>情報セキュリティ方針の遵守状況及び情報資産の取扱いについて、定期的に点検及び監査を行い、発見された不備や改善項目については、速やかに是正処置を講じます。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">5</span>情報セキュリティ上のイベントやインシデントの発生に対する適切な処置を講じるとともに、万一それらが発生した場合に際して、あらかじめ、被害を最小限に留めるための対応手順を確立し、有事の際には、速やかに対応するとともに、適切な是正処置を講じます。また、特に、業務中断に関わるようなインシデントについては、その管理の枠組みを確立し、定期的に見直しを行うことにより、当社の事業継続を確実にいたします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">6</span>基本理念を実現するための目標を定めた情報セキュリティマネジメントシステムを確立し、これを実行するとともに、継続的に見直し、改善を行います。</li>
        </ul>

        <div class="tex-a_r mar-b_30">
            2019年11月14日 制定<br>みんなのマーケット株式会社<br>代表取締役社⻑ 浜野 勇介
        </div>

        <div class="mar-b_15 lin-h_20">
            <ol class="m_list_none fon-s_12 m_breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="dis_i" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/"><span itemprop="name">くらしのマーケット</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li class="dis_i" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <strong><span itemprop="name">情報セキュリティ方針<meta itemprop="position" content="2"></span></strong>
                </li>
            </ol>
        </div>
    </div>
</div>