<div id="mainWrapp">
    <div id="mainContent" class="wid_940 m_center mar-t_30 mar-b_30">
        <h1>利用規約</h1>
        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">総則</h2>
        <p>「くらしのマーケット（<a href="https://curama.jp" target="_blank">https://curama.jp</a>）」（以下、パソコン版・携帯電話版・モバイルデバイス用アプリケーション等を総称し、「本サイト」。理由の如何を問わず、当社のウェブサイトのドメイン又は内容が変更された場合は、当該変更後のウェブサイトを含みます。）の予約者が出店者の提供サービスの予約を確保するためのマッチングシステムを提供するサービス（以下、「本サービス」。理由の如何を問わずサービスの名称又は内容が変更された場合は、当該変更後のサービスを含みます。）は、みんなのマーケット株式会社（以下、「当社」）が提供するオンラインプラットフォームを利用して運営されています。本サイト及び本サービスは、以下の利用規約（以下、「本規約」）に基づいて提供されます。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第1条 本規約の適用</h2>
        <p>本規約は、当社が運営する本サービスのすべてにおいて、会員と当社との間に適用されます。本サービスを利用することにより、会員は個別規定を含む本規約及びプライバシーポリシー（<a href="https://curama.jp/privacy/" target="_blank">https://curama.jp/privacy/</a>）の全ての項目に同意したものとします。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第2条 使われる用語の定義</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.1</span>「会員」とは、本規約に同意の上、本サイトに会員登録をした個人及び法人をいい、「出店者」及び「予約者」を含みます。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.2</span>「出店者」とは、会員の内、予約を受ける者のことをいいます。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.3</span>「予約者」とは、会員の内、予約をする者のことをいいます。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.4</span>「提供サービス」とは、出店者が予約者に提供する役務のことをいいます。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.5</span>「予約」とは、本サイトで予約者が出店者の提供サービスを予約することをいいます。なお、同一の作業日に複数の提供サービスが提供される場合であっても、各種類の提供サービス毎に、1件の予約とします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.6</span>「投稿データ」とは、会員により、投稿、入力その他送信等された会員の登録情報、提供サービスに対する口コミ、その他のコンテンツ（文章、画像、動画その他のデータを含みますが、これに限られません。）をいいます。</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">2.7</span>「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含みます。）をいいます。</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第3条 会員資格・会員登録手続 </h2>
        <p class="mar-b_15">本規約に同意の上、当社所定の会員登録手続をされた個人又は法人は、会員登録手続完了後に会員としての資格を有します。会員登録手続は、会員となる本人が行ってください。当社は、上記に基づき登録を申請した者が、以下の各号のいずれかの事由に該当する場合は、登録を拒否することがあります。</p>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.1</span>本規約に違反するおそれがあると当社が判断した場合</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.2</span>当社に提供された登録情報の全部又は一部につき虚偽、誤記又は記載漏れがあった場合</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.3</span>所属している法人又は団体等が同一（住所等が同一であることにより実質的に同一であると当社が判断する場合を含みます。）の複数の者が重複して登録する場合</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.4</span>代理による登録の場合</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.5</span>18歳未満の者である場合</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.6</span>過去に本サービスの利用の登録を取り消された者である場合</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.7</span>未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人、保佐人又は補助人の同意等を得ていなかった場合</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.8</span>反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じです。）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">3.9</span>その他、当社が登録を適当でないと判断した場合</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第4条 会員情報の入力</h2>
        <p>会員登録手続では、必要な情報を虚偽なく正確に入力してください。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第5条 パスワードの管理</h2>
        <p>パスワードは、他人に知られることがないよう、会員本人が責任をもって保管し、定期的に変更するなど適切な管理を行うものとし、これを第三者に利用させたり、貸与、譲渡、名義変更、売買等をしてはならないものとします。入力されたメールアドレス又は電話番号及びパスワードが会員登録されたものと一致することを当社の所定の方法により確認した場合、会員本人による利用があったものとみなし、それらが盗用、不正使用その他の事情により会員本人以外の者が利用している場合であっても、それにより生じた損害等について当社は一切の責任を負いません。なお、会員は、パスワードが盗用、不正使用等されていることが判明した場合には、直ちにその旨を当社に通知するとともに、当社からの指示に従うものとします。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第6条 会員登録情報の変更</h2>
        <p>登録した情報に変更が生じた場合は、当社所定の方法により、会員本人が直ちに変更の手続きを行って下さい。登録内容の変更が、会員本人により適切になされなかったことにより生じた損害等について当社は一切の責任を負いません。また、変更がなされた場合でも、変更の登録前に開始された取引は変更登録前の情報に基づいて行われます。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第7条 本サービスの内容</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">7.1</span>会員は、有効に会員として登録されている期間内に限り、本規約の目的の範囲内でかつ本規約に違反しない範囲内で、当社の定める方法に従い、本サービスを利用することができます。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">7.2</span>本サービスは日本国内においてのみ提供されるものであり、当社は、会員が日本国外において本サービスを使用したことに関連して生じた損害について一切の責任を負いません。</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">7.3</span>当社は、本サービスの内容を自由に変更できるものとします。但し、会員に著しく不利益を及ぼすような内容の変更を行う場合は、当社は、事前に変更内容を本サービス上で通知又は公表するものとします。</li>
        </ul>


        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第8条 会員の退会</h2>
        <p>会員が退会を希望する場合、当社所定の方法にて速やかに退会手続を行うこととします。所定の退会手続が完了した後、退会となります。但し、退会の効力が発生する前に本サービス上で予約が成立した提供サービスが存在する場合には、会員は当該提供サービスの提供及び当社又は出店者に対する予約手数料その他の料金の支払義務が完了するまでは退会できないものとし、退会までは本規約が適用されるものとします。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第9条 免責事項</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.1</span>当社は、会員同士が提供サービスに関する情報をやりとりし、予約をするためのシステムを提供するものにすぎず、その予約の成否、会員同士で提供される情報の内容の正確性、真実性、適法性等について一切責任を負うものではありません。また、如何なる場合も当社は提供サービスに関する取引の当事者となるものではなく、提供サービスによって生じた損害の責任その他一切の責任を負うものではありません。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.2</span>会員は、本サービスを利用することが、会員に適用のある法令、業界団体の内部規則等に違反するか否かを自己の責任と費用に基づいて調査するものとし、当社は、会員による本サービスの利用が、会員に適用のある法令、業界団体の内部規則等に適合することを何ら保証するものではありません。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.3</span>本サイトから他のウェブサイトへのリンク又は他のウェブサイトから本サイトへのリンクが提供されている場合でも、当社は、本サイト以外のウェブサイト及びそこから得られる情報に関して如何なる理由に基づいても一切の責任を負わないものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.4</span>当社は会員が使用する機器、通信回線その他の通信環境が本サービスの利用に適さない場合であっても、本サービスの改変、修正を行う義務を負わないものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.5</span>通信回線、ソフトウェア、ハードウェアなどのパフォーマンスの低下、障害、不正アクセスにより、本サービスのシステムの中断・遅延・中止等によって生じたいかなる損害についても、当社は一切責任を負わないものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.6</span>当社は、会員が本サービスを利用する際に必要とする設備や通信回線の費用について、一切負担しないものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.7</span>当社は、本サービスに関連して当社から送られる電子メール及びウェブコンテンツに、コンピューターウィルス等の有害なものが含まれていないことを保証しないものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.8</span>当社は、会員に対し適宜情報提供や助言を行うことがありますが、それにより当社は責任を負わないものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.9</span>当社は、投稿データの掲載可否の判断、ランキングの設計、ランキングの除外基準の設定及びこれに基づくランキングからの除外、その他本サービスの内容について一切の裁量を有するものであり、その判断の理由を開示する義務を負わないものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.10</span>当社は、投稿データについて、調査、管理、削除する権利を持ちますが、調査、管理、削除する義務は負わないものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.11</span>会員が本規約等に違反したことによって生じた損害については、当社は一切責任を負いません。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.12</span>当社は、本サービスで会員が行った取引について、その内容が会員の希望を満たすこと、有用であること等、一切の保証をしないものとします。</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">9.13</span>上記の各項目の他、本サービスの利用にあたって会員に生じた一切の損害について当社は、原則、責任を負いません。但し、当社に故意または重過失があり、これにより当社が会員に損害を与えた場合、当社の賠償責任は会員について発生した直接かつ通常の損害に限り、当該損害の原因となった取引の対価を上限とします。</li>
        </ul>


        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第10条 禁止事項及び投稿データの削除</h2>
        <p class="mar-b_15">会員は、本サービスを利用するにあたり、以下の各行為をしてはなりません。また、会員において、次の各号に該当する、若しくは該当するおそれがあると思われる投稿データが投稿された場合、当社は、会員に対して予告なく、当社の一存で、投稿データの削除、又は本サービス利用の停止の措置をとることができるものとします。なお、当該措置の対象に該当するか否かの判断は、全て当社が行うものとし、当社は措置理由の開示義務を負いません。また、会員は、次の各号に該当する、若しくは該当するおそれがあると思われない場合でも、本サービスの管理運営上、当社がやむを得ず投稿データの削除等をすることにつきあらかじめ同意するものとします。</p>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.1</span>本規約、法令、又は他の規約等に違反する行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.2</span>当社、他の会員又はその他第三者の権利、名誉等を損ねる、侵害する、又はそのおそれのある行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.3</span>当社が本サービスで仲介することにより、当社が法令等に違反することとなる取引を行う行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.4</span>当社と同種又は類似の業務を行う目的で本サービスを利用する行為その他本サービスと異なる営利目的で本サービスを利用する行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.5</span>営利目的で、予約者として本サービスを利用する行為（本サービスを自ら請け負った業務の下請業務に利用することを含むがこれに限られません。）</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.6</span>他人になりすます行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.7</span>公序良俗に反する、又はそのおそれのある行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.8</span>犯罪予告、犯罪の指南など、犯罪に結びつく、又はこれを助長する行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.9</span>わいせつ物又は児童ポルノに該当する情報を投稿する行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.10</span>虚偽の情報を投稿する行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.11</span>いわゆる「さくら」的な行為等、故意に商品やサービスを優良と誤認させるような内容を投稿又は送信する行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.12</span>競合する商品やサービスの信頼を低下させる目的で中傷する内容を投稿する行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.13</span>不健全な出会いを目的とする投稿内容、又は出会いを助長、誘導する行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.14</span>未成年者に対し悪影響があると判断される行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.15</span>有害なコンピュータープログラム等を送信、又は書き込む行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.16</span>パスワードを第三者に貸与・譲渡・転売すること、又は第三者と共用する行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.17</span>会員が複数の会員登録申込を行う行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.18</span>本サービスとは関係がないと当社の判断する団体やサービス、活動への勧誘行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.19</span>本サービス又は当社の他のサービスを妨げる行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.20</span>本サービスに掲載されている情報をもとに、本サービスを通さずに会員同士で取引をする行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.21</span>本サービスを通じて知りえた他の会員の情報を、当該会員の明示的な承諾なくして、本サービスの利用以外の目的で利用又は第三者に提供する行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.22</span>予約する意図なく提供サービスの予約を申し込む行為</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.23</span>他の会員の情報や本サービス上の投稿データを当社の事前の許諾なく転載、複製等する行為</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">10.24</span>その他当社が不適切と判断した行為</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第11条 中抜き取引の禁止</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">11.1</span>出店者は、予約者との取引（継続的に行う場合のほか、断続的に行う場合も含みます。）において、中抜き取引（当社を介在させずに直接提供サービスの提供（営利、非営利を問いません。）をしたり、金銭の授受を行うことを指します。以下同じです。）を求めてはならず、中抜き取引の勧誘を予約者から受けた場合は、これを即座に拒絶しなければならないものとします。予約者から中抜き取引の勧誘を受けた場合には、当該中抜き取引の勧誘を受けた日から7日以内に、当社に報告するものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">11.2</span>予約者は、出店者との取引（継続的に行う場合のほか、断続的に行う場合も含みます。）において、中抜き取引を求めてはならず、中抜き取引の勧誘を出店者から受けた場合は、これを即座に拒絶しなければならないものとします。出店者から中抜き取引の勧誘を受けた場合には、当該中抜き取引の勧誘を受けた日から7日以内に、当社に報告するものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">11.3</span>出店者が、本条第1項に違反したときは、その中抜き取引により受領した役務の対価の2倍相当額又は100万円のいずれか高い金額を違約金として当社に対し支払うものとします。なお、この規定は、別途この違約金を超える額の当社が被った損害の賠償請求を妨げるものではありません。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">11.4</span>予約者が、本条第2項に違反したときは、その中抜き取引により、予約者が出店者に対して支払った金額の2倍相当額又は100万円のいずれか高い金額を違約金として、当社に対し支払うものとします。なお、この規定は、別途この違約金を超える額の当社が被った損害の賠償請求を妨げるものではありません。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">11.5</span>会員は、相手方から開示を受けた会員連絡先情報を、会員間の取引に伴う義務の履行のためにのみ使用し、本サービスを介さずに行う直接取引やそれを勧誘する行為又は他の目的には一切使用せず、いかなる第三者にも開示しないものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">11.6</span>会員が前各項に定める違約金の支払いについて当社の指定する期日までに応じない場合、年14.6％の遅延損害金を当社に支払うものとします。</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">11.7</span>本条第1項及び第2項の規定は、会員の会員資格の取消又は退会後も2年間有効に存続するものとし、本条第3項、第4項、第6項及び第7項の規定は、会員の会員資格の取消又は退会後も有効に存続するものとします。</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第12条 会員資格の取消</h2>
        <p class="mar-b_10">会員が以下各号のいずれかに該当すると当社が判断した場合、当社は、事前に通知することなく、当該会員の会員資格の取消、退会措置、本サービスの一部又は全部の利用停止、取引の取消その他、当社が必要と判断する措置を行うことができるものとします。会員はこれに対して理由の開示を求めること及び、一切の異議の申立て等を行うことはできず、これにより会員が損害又は不利益を被ったとしても、当社は一切の責任を負わないものとします。</p>
        <ul class="m_list_none">
            <li class="mar-b_5">
                <ul class="m_list_none mar-l_60">
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.1</span>本規約又は法令等に違反したとき</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.2</span>第3条各号の事由に該当することが判明したとき</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.3</span>パスワード及び本サービスを不正に使用、又は使用させたとき</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.4</span>登録情報に虚偽の内容、不足があった、又はそのおそれがあるとき</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.5</span>与信に問題が生じたとき</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.6</span>反社会勢力等若しくは反社会的活動を行う団体に所属、又はこれらと関係を有するとき</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.7</span>他の会員の情報や投稿データを事前同意なく、第三者に提供したとき</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.8</span>第10条各号に該当する行為を行ったとき</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.9</span>本サービスの利用について当社の指示に対し相応の理由がなく応じないと</li>
                    <li class="mar-b_10"><span class="dis_i-b mar-l_-40 wid_40">12.10</span>その他、当社の裁量により、当社が不許諾等を行うのが相当と判断したとき</li>
                </ul>
            </li>
        </ul>
        <p class="mar-b_15">前項各号のいずれかの事由に該当した場合、会員は、当社に対して負っている債務の一切について当然に期限の利益を失い、直ちに当社に対して全ての債務の支払を行わなければなりません。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第13条 サービスの停止・中止・廃止</h2>
        <p class="mar-b_15">当社は、以下各号の事由に起因する場合、本サービスの全部又は一部を停止・中止・廃止できるものとします。これに起因して、会員又は第三者に損害が発生した場合でも、当社は一切の責任を負わないものとします。また、当社は本サービスを停止・中止・廃止を行う場合、事前に本サイト上でその旨を通知するものとしますが、緊急の場合は、この限りではありません。</p>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">13.1</span>定期的又は緊急に本サービス提供のためのシステムの保守又は点検を行うとき</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">13.2</span>天災、火災、停電等の非常事態により本サービスの運営をすることが不可能となったとき</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">13.3</span>第三者からの本サービスへの不正アクセス、有害なコンピュータープログラム等により、本サービスの提供ができないとき</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">13.4</span>法令等に基づく措置により本サービスが提供できないとき</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">13.5</span>その他、当社がやむを得ないと判断したとき</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第14条 紛争処理</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">14.1</span>本サイトは、提供サービスについて予約者と出店者の間で直接予約が成立するものであり、予約者と出店者の間に紛争が生じた場合は両当事者において解決するものとし、当社は予約者と出店者の間の紛争について一切責任を負うものではありません。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">14.2</span>前項に加え、会員が、本サービスに関連して他の会員その他の第三者からクレームを受け又はそれらの者との間で紛争を生じた場合には、直ちにその内容を当社に通知するとともに、会員の費用と責任において当該クレーム又は紛争を処理し、当社からの要請に基づき、その経過及び結果を当社に報告するものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">14.3</span>会員による本サービスの利用に関連して、当社が、他の会員その他の第三者から権利侵害その他の理由により何らかの請求を受けた場合は、会員は当該請求に基づき当社が当該第三者に支払を余儀なくされた金額を賠償しなければなりません。</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第15条 情報の保存</h2>
        <p>当社は、投稿データその他の情報を運営上一定期間保存していた場合であっても、かかる情報を保存する義務を負うものではなく、当社はいつでもこれらの情報を削除できるものとします。なお、当社は本条に基づき当社が行った措置に基づき会員に生じた損害について一切の責任を負いません。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第16条 権利帰属</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">16.1</span>本サイト及び本サービスに関する知的財産権は全て当社又は当社にライセンスを許諾している者に帰属しており、本規約に基づく本サービスの利用許諾は、本サイト又は本サービスに関する当社又は当社にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">16.2</span>会員は、投稿データについて、自らが投稿その他送信することについて適法な権利を有していること、及び投稿データが第三者の権利を侵害していないことについて、当社に対し表明し、保証するものとします。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">16.3</span>会員は、投稿データについて、当社に対し、世界的、非独占的、無償、サブライセンス可能かつ譲渡可能な使用、複製、配布、派生著作物の作成、表示及び実行に関するライセンスを付与します。また、他の会員に対しても、本サービスを利用してユーザーが投稿その他送信した投稿データの使用、複製、配布、派生著作物を作成、表示及び実行することについての非独占的ライセンスを付与します。</li>
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">16.4</span>会員は、投稿データについて、当社及び当社から権利を承継し、又は許諾された者に対して著作者人格権を行使しないことに同意するものとします。</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">16.5</span>本条の規定は、会員の会員資格の取消又は退会後も有効に存続するものとします。</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第17条 個人情報</h2>
        <p>当社は、別途定めるプライバシーポリシーに従い、会員の個人情報を管理するものとし、会員はこれに同意します。当社は会員の個人情報をもとに、個人を特定できない形式による統計データを作成し、利用することがあります。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第18条 通話の録音</h2>
        <p>本サービスの円滑な提供のため、当社は当社と会員との間でなされた通話内容を録音することがあります。録音情報は一定期間保存されますが、本サービスの提供の目的以外で使用されることはありません。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第19条 広告の掲載</h2>
        <p>当社は、当社の裁量において、本サイトに適切と判断される広告を掲載することができます。本サイトに掲載される広告によって、会員等及び第三者に生じる損害等に関して、当社は一切の責任を負いません。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第20条 本規約の改定</h2>
        <p>当社は、本規約を任意に改定、又は補充する規約を定めることができるものとします。変更後の本規約は、当社が別途定める場合を除いて、本サービスを提供する本サイトに掲示された時点よりその効力を生じるものとします。会員が本規約の変更の効力が生じた後に本サービスを利用する場合、又は当社の定める期間内に登録取消の手続をとらなかった場合には、会員は変更後の規約に同意したものとみなされます。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第21条 本規約の譲渡等</h2>
        <ul class="m_list_none mar-l_60">
            <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">21.1</span>会員は、当社の書面による事前の承諾なく、本規約に基づく当社と会員の間の契約上の地位又は本規約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。</li>
            <li><span class="dis_i-b mar-l_-40 wid_40">21.2</span>当社は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い本規約に基づく当社と会員の間の契約上の地位、本規約に基づく権利及び義務並びに会員の登録情報その他の情報を当該事業譲渡の譲受人に譲渡することができるものとし、会員は、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</li>
        </ul>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10  mar-t_30">第22条 分離可能性</h2>
        <p>本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有し、当社及び会員は、当該無効若しくは執行不能の条項又は部分を適法とし、執行力を持たせるために必要な範囲で修正し、当該無効若しくは執行不能な条項又は部分の趣旨並びに法律的及び経済的に同等の効果を確保できるように努めるものとします。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第23条 存続規定</h2>
        <p>会員の会員資格の取消又は退会後も、本規約中、その性質上存続すべき条項（当社の免責について定めた条項を含みますが、これに限られません。）は有効に存続するものとします。</p>

        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">第24条 準拠法、管轄裁判所</h2>
        <p>本規約の準拠法は日本法とし、本規約に関連する訴訟については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>


        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">予約者向け個別規定</h2>
            <p class="mar-b_15">予約者については、本規約のほか、この「予約者向け個別規定」が適用されるものとします。</p>
            <ul class="m_list_none">
                <li class="mar-b_15">1 サービス
                <p class="mar-l_10">本サイトは、予約者と出店者との間で予約を行うためのシステムを提供するものにすぎず、当社は、出店者の提供する情報の正確性、真実性、取引の内容の妥当性、適法性を保証するものではなく、また、予約の成否を約束するものではありません。予約者は自らの責任で予約を行うものとします。</p>
                </li>

                <li class="mar-b_15">2 予約の成立
                <p class="mar-l_10 mar-b_5">以下のいずれかの時点で、予約者と出店者との間で予約が成立するものとします。</p>
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.1</span>予約者の予約リクエストを出店者が承認し、その情報が当社に送信された時点</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">2.2</span>予約者の見積リクエストに対する出店者の入札を予約者が落札し、その情報が当社に送信された時点</li>
                    </ul>
                </li>

                <li class="mar-b_15">3 予約の変更・キャンセル
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.1</span>成立した予約がキャンセルされた場合、当社が定める<a href="/cancel-policy/" target="”_blank”" rel="”noopener”">キャンセルポリシー</a>に応じて、キャンセル料が発生する場合があります。但し、キャンセルに関して、出店者に適用のある法令、業界団体の内部規則等がある場合には当該法令等に従って本サイト上に表示される条件が本条に優先するものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.2</span>当社はキャンセルの事情が予約者の事情によるか出店者の事情によるか具体的に調査する義務を負うものではありません。個別の事情に応じた対応については、予約者と出店者の間での話し合いにより解決することとし、当社はこれについて一切責任を負いません。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">3.3</span>提供サービスの予約日の前後を問わず、予約がキャンセル又は中止等された場合、当社は当該キャンセル又は中止等の告知を含む一切の責任を負いません。予約者は、予約成立後においても、出店者が本サービスを通じて予約をキャンセルする場合があることをあらかじめ了解し、これについて当社に対して損害賠償請求をすることができないものとします。</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">3.4</span>出店者が提供サービスを予約者に対して提供しなかったことにより予約者が損害を被った場合の対応については、予約者と出店者の間での話し合いにより解決することとし、当社は、予約者に生じた損害についての損害回復措置をとる義務を負うものではありません。</li>
                    </ul>
                </li>

                <li class="mar-b_15">4 予約金額の支払い
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">4.1</span>予約者は、成立した予約内容に従い、出店者に対し提供サービスに対する料金及び提供サービスの提供時に発生する駐車場料金、材料費その他の実費並びにこれらに対する消費税相当額（以下、「予約金額」）を支払うものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">4.2</span>出店者が、「出店者向け個別規定」第13条の規定により決済代行サービスを利用し、予約者がこれを利用して決済代行サービスを通じて予約金額を支払うことを希望する場合、予約者は当社及び決済事業者が予約金額を代理受領する権限を有していることを認識し、了承するものとします。当社又は決済事業者が予約金額を代理受領することにより、予約者の出店者に対する支払債務は消滅するものとします</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">4.3</span>前項の場合、予約者は、当社の定める方法で決済情報を登録するものとし、出店者に支払う予約金額その他予約に関して支払われるべき金額（出店者との合意により予約金額を変更した場合には、変更後の金額、キャンセル料及び支払いを遅延した場合の遅延損害金を含みます。）は登録された決済情報に基づき決済されることに同意するものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">4.4</span>予約者が予約金額の支払いについて、クレジットカード払いを選択した場合、予約者に対する提供サービスの提供完了後、出店者が本サービス上で当社指定の操作を行った時点をもってクレジットカード会社に対して決済事業者を通じて決済手続が行われるものとします（その後金額が変更になった場合、変更後の金額の決済手続がなされます。）。なお、予約者が決済手続後にクレジットカード情報を削除し、新たなクレジットカード情報を登録しない場合において、当該予約金額の変更やキャンセル料が発生したとき、当社及び決済事業者は、変更後の予約金額又はキャンセル料に限り、削除前のクレジットカード情報を用いて決済することができるものとします。</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">4.5</span>予約者は、本規約に定める場合を除き、支払われた金額の払い戻しがなされないことに同意するものとします。</li>
                    </ul>
                </li>

                <li class="mar-b_15">5 キャンセル料の支払い
                <p class="mar-l_10">出店者と予約者との間において予約が成立した後、予約者が当該予約をキャンセルする場合は、予約者は当社所定の<a href="/cancel-policy/" target="”_blank”" rel="”noopener”">キャンセル料</a>を出店者に支払うものとします。但し、キャンセルに関して、出店者に適用のある法令、業界団体の内部規則等がある場合には当該法令等に従って本サイト上に表示される条件が本条に優先するものとします。</p>
                </li>

                <li class="mar-b_15">6 追加料金
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">6.1</span>提供サービスの提供において、当初の予約内容を超えて追加の料金（追加で発生した提供サービスの料金、提供サービスの提供時に発生した駐車場料金、材料費その他の実費を含みますが、これに限られません。）が発生した場合には、提供サービスの提供後7日以内に、予約者は当社に対し当該内容及び実際に出店者から請求された金額について報告をする義務を負うものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">6.2</span>提供サービスの提供後7日以内に、予約者が当社に対して前項の報告を行わなかった場合、予約者において、当社が出店者から報告を受けた金額に同意したものとみなすものとします。この場合、当該予約の追加料金については、当社が出店者から報告を受けた金額を、追加料金を含めた提供サービスの金額とみなし、既に決済が行われた予約金額との差額については、出店者及び予約者間における銀行振込その他の方法により調整されるものとします。</li>
                    </ul>
                </li>

                <li class="mar-b_15">7 税金の取扱い
                <p class="mar-l_10">本サービスに関して予約者にかかる消費税その他の税金については、予約者の費用と責任でこれを負担及び処理するものとし、当社は一切関知するものではありません。</p>
                </li>

                <li class="mar-b_15">8 譲渡・転売の禁止
                <p class="mar-l_10">成立した予約に基づく権利及び義務、並びに予約の契約上の地位を、第三者に譲渡又は転売をすることはできません。それらの行為が行われている、又は行われるおそれがあると当社が判断した場合、当社は当該予約を無効とする場合があります。当社は、会員以外の法人や個人から予約を譲渡された、又は転売された場合の問題について、一切の責任を負いません。</p>
                </li>

                <li class="mar-b_15">9 本サービスの利用にあたっての予約者の誓約事項
                <p class="mar-b_5 mar-l_10">予約者は本サービスの利用にあたり、以下の内容を保証及び誓約するものとし、以下の各号の内容が正確又は真実ではなかったこと、又は以下の各号の内容に違反したことにより、当社、会員その他の第三者が損害を被った場合は、予約者はその損害の一切を賠償する義務を負うものとします。</p>
                <ul class="m_list_none mar-l_60">
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.1</span>本規約及び「予約者向け個別規定」を遵守すること</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.2</span>予約者は、自らの責任で本サービスを利用するものであり、当社に対して提供サービスの情報の正確性や瑕疵担保責任等を追及できるものではないことを了解すること</li>
                    <li><span class="dis_i-b mar-l_-40 wid_40">9.3</span>提供サービス等の利用にあたって出店者が提示した条件（出店者が本サイト上で定める利用規則を含みますが、これに限られません。）を遵守すること</li>
                </ul>
                </li>
            </ul>


        <h2 class="bac-c_bla04 bor-r_4 pad-t_5 pad-b_5 pad-l_10 pad-r_10 mar-t_30">出店者向け個別規定</h2>
            <p class="mar-b_15">出店者については、本規約のほか、この「出店者向け個別規定」が適用されるものとします。</p>
            <ul class="m_list_none mar-b_20">
                <li class="mar-b_15">1 サービス
                    <p class="mar-l_10">本サービス上の提供サービスは全て出店者が自らの責任で作成するものであり、出店者は、提供サービスを提供することが、出店者に適用のある法令、業界団体の内部規則等に違反するか否か、及び当社が提供サービスを仲介することが、当社に適用のある法令、業界団体の内部規則等に違反するか否かを自己の責任と費用に基づいて調査するものとし、当社は、その内容に関して、一切責任を負いません。出店者が本サービス上で提供サービスを作成するにあたっては、作成基準、提供サービスの対価その他当社が本サイトにおいて定める設定上のルールに従うものとします。</p>
                </li>

                <li class="mar-b_15">2 特定の出店者の会員資格停止
                    <p class="mar-b_5 mar-l_10">当社は、特定の出店者のアカウントが以下各号のいずれかに該当すると判断した場合、事前に通知することなく、出店者の本サービス利用停止、会員資格の取消、予約の停止、又は無効化を行うことができるものとします。これにより出店者に何らかの損害等が生じた場合でも、当社は一切の責任を負わないものとします。</p>
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.1</span>法令・本規約等に違反する行為をしたとき</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.2</span>本サービスの利用に関して不正行為をした、又はしたおそれがあるとき</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.3</span>特定の宗教・思想の啓蒙や勧誘行為を目的とするサービスを作成したとき</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.4</span>わいせつな行為、性行為、出会い等を目的とするなど、公序良俗に反する内容のサービスを作成したとき</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">2.5</span>「予約者が同意していないにも拘わらず、予約者に対する予約金額及び追加料金（提供サービスの提供時に発生した駐車場料金、材料費その他の実費を含みますが、これに限られません。）の決済を行う行為</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">2.6</span>その他、当社の裁量に基づき、当社が会員資格の取消等を行うのが適当と判断する行為をしたとき</li>
                    </ul>
                </li>

                <li class="mar-b_15">3 出店者の審査
                    <p class="mar-l_10">本サービスに入会した会員が新たに出店者となった場合、当社は本規約に基づき出店者の登録情報を審査いたします。本規約に反すると認められた場合は登録情報を削除いたします。但し、当社は出店者の登録情報について一切保証するものではありません。</p>
                </li>

                <li class="mar-b_15">4 予約の変更・キャンセル
                    <p class="mar-l_10">出店者は、予約の成立後は原則としてキャンセルすることができないものとしますが、やむを得ない場合に限り、本サービスにおいて定める条件により、キャンセルできるものとします。予約日当日に当該予約をキャンセルした場合、出店者は、11.1に定める予約手数料等相当額を、当社に対して支払うものとし、出店者はこれを了承するものとします。また、当社はキャンセルの事情が予約者の事情によるか出店者の事情によるか具体的に調査する義務を負うものではありません。予約の成立後に生じた個別の事情に応じた対応については、出店者と予約者の間での話し合いにより解決することとし、当社はこれについて一切責任を負いません。</p>
                </li>

                <li class="mar-b_15">5 提供サービスの提供
                <p class="mar-l_10">出店者は、成立した予約内容に従い、予約者に対しサービスを提供するものとします。</p>
                </li>

                <li class="mar-b_15">6 追加料金
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">6.1</span>提供サービスの提供において、当初の予約内容を超えて追加の料金（追加で発生した提供サービスの料金、提供サービスの提供時に発生した駐車場料金、材料費その他の実費を含みますが、これに限られません。）が発生した場合には、提供サービスの提供終了後7日以内に、出店者は当社に対し当該内容及び実際に予約者に対して請求した金額について報告をする義務を負うものとします。出店者が、当該報告義務に違反したときは、5万円を違約金として、当社に対し支払うものとします。なお、この規定は、別途この違約金を超える額の当社が被った損害の賠償請求を妨げるものではありません。</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">6.2</span>提供サービスの提供後7日以内に、出店者が当社に対して前項の報告を行わなかった場合、出店者において、当社が予約者から報告を受けた金額に同意したものとみなすものとします。この場合、当該予約の追加料金については、当社が予約者から報告を受けた金額を、追加料金を含めた提供サービスの金額とみなし、既に決済が行われた予約金額との差額について、出店者及び予約者間における銀行振込その他の方法により、調整されるものとします。</li>
                    </ul>
                </li>

                <li class="mar-b_15">7 税金の取扱い
                <p class="mar-l_10">本サービスに関して出店者にかかる消費税その他の税金については、出店者の費用と責任でこれを負担及び処理するものとし、当社は一切関知するものではありません。</p>
                </li>

                <li class="mar-b_15">8 本サービスの利用にあたっての出店者の表明保証事項
                <p class="mar-b_5 mar-l_10">出店者は本サービスの利用にあたり、以下の各号の内容を表明及び保証するものとし、以下の各号の内容が正確又は真実ではなかった場合、当社は出店者の登録を取消すことができます。また、以下の各号の内容が正確又は真実ではなかったことにより、当社、会員その他の第三者が損害を被った場合は、出店者はその損害の一切を賠償する義務を負うものとします。</p>
                <ul class="m_list_none mar-l_60">
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">8.1</span>本サービスに登録する情報内容が正確かつ真実であること</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">8.2</span>本サービスとして情報を登録して本サービスを利用するにあたり、当該登録内容のサービスを提供する正当な権限を有すること</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">8.3</span>反社会的勢力等に現在及び将来においても該当しないこと</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">8.4</span>予約者からのクレーム又は紛争を処理し、当社からの要請に基づき、その経過及び結果を当社に報告する体制を有していること</li>
                    <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">8.5</span>提供サービスを提供する際に必要となる資格を有し、又は許認可を得ていること</li>
                    <li><span class="dis_i-b mar-l_-40 wid_40">8.6</span>決済代行サービスを利用するにあたり提供する情報内容が正確かつ真実であること</li>
                </ul>
                </li>

                <li class="mar-b_15">9 本サービスの利用にあたっての出店者の誓約事項
                    <p class="mar-b_5 mar-l_10">出店者は本サービスの利用にあたり、以下の各号の内容を誓約するものとし、誓約事項に違反した場合、当社は本サービスの一部又は全部の停止、出店者の会員資格の取消、その他当社が必要と判断する措置を行うことができます。また、以下の各号の内容に違反したことにより、当社、会員その他の第三者が損害を被った場合は、出店者はその損害の一切を賠償する義務を負うものとします。</p>
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.1</span>本規約、「出店者向け個別規定」及び適用される法令を遵守すること</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.2</span>本サービスを端緒とする会員とのやりとり（当該会員とのやりとりを継続的に行う場合のほか、断続的に行う場合も含みます。）において、本サービス外での取引を行うように誘導し、本サービス外での取引を行った場合、当社に対し、本規約に基づき違約金を支払うこと</li>
                        <li>
                            <p class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">9.3</span>現在又は将来にわたって、次の各号のいずれにも該当しないこと</p>
                            <ul class="m_list_none mar-l_60">
                                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">（ⅰ）</span>直近5年間に特定商取引法による行政処分または消費者契約法違反を理由とする敗訴判決を受けていないこと</li>
                                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">（ⅱ）</span>特定商取引法第2条に定める「訪問販売」「電話勧誘販売」を行わないこと</li>
                                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">（ⅲ）</span>特定商取引法第33条に定める「連鎖販売取引」を行わないこと</li>
                                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">（ⅳ）</span>特定商取引法第41条に定める「特定継続的役務提供」を行わないこと</li>
                                <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">（ⅴ）</span>特定商取引法第51条に定める「業務提供誘因販売取引」を行わないこと</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="mar-b_15">10 出店料及び広告料並びに支払方法
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.1</span>出店者は、初回出店時に、当社に対し、別途本サイト上で定める出店料（これにかかる消費税相当額を含みます。）を出店予定日の10日前までに当社の指定する方法により支払うものとします。なお、当該出店料について、当社は出店者に対し返金する義務を負わないものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">10.2</span>出店者は、出店者に関する情報を当社の定める場所に優先的に表示できる広告サービスとして、当社が本サイト上で定める内容のサービスを申し込む場合、当社に対し、別途本サイト上で定める広告料（これにかかる消費税相当額を含みます。）を当該サービス開始予定日の10日前までに当社の指定する方法により支払うものとします。</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">10.3</span>出店者は、出店料又は広告料の支払を遅滞した場合、年14.6％の遅延損害金を当社に支払うものとします。また、出店料又は広告料の支払いがなされるまでの間、当社は本サービス又は広告サービスの出店者による利用を認めないことができます。</li>
                    </ul>
                </li>

                <li class="mar-b_15">11 予約手数料等
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">11.1</span>出店者は、本サービス上で成立した予約について、予約成立時点において、1件の予約に対し、予約金額に別途本サイト上で定める料率を乗じた金額（以下、「予約手数料」）及びこれにかかる消費税相当額（以下、「予約手数料等」）を当社に対し支払う義務が発生するものとします。なお、提供サービスの提供において、予約成立時点における予約金額を超えて追加の料金（追加で発生した提供サービスの料金、提供サービスの提供時に発生した駐車場料金、材料費その他の実費を含みますが、これに限られません。）が発生した場合は、追加の料金を加算した額で予約手数料が算定されるものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">11.2</span>出店者は、当月1日から月末までの予約手数料等の合計金額を、当社の指定する方法により支払うものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">11.3</span>出店者は、予約手数料等の支払を遅滞した場合、年14.6％の遅延損害金を当社に支払うものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">11.4</span>出店者と予約者との間において予約が成立した後、予約者からのキャンセル等により、予約者が出店者にキャンセル料を支払うべきこととなった場合は、予約者から徴収する当社所定の<a href="/cancel-policy/" target="”_blank”" rel="”noopener”">キャンセル料</a>に当社が別途定める料率を乗じた金額（以下、「当社キャンセル料」）を、当社に対して支払うものとします。但し、キャンセルに関して、出店者に適用のある法令、業界団体の内部規則等がある場合には当該法令等に従って本サイト上に表示される条件が本条に優先するものとします。</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">11.5</span>前項の場合において、既に予約者から当社又は決済事業者に対して予約金額が支払われていた場合には、当社は当該予約金額から当社キャンセル料を差し引くことにより、当社キャンセル料の受領に代えることができるものとします。</li>
                    </ul>
                </li>

                <li class="mar-b_15">12 サービス利用料等
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.1</span>出店者は、本サービス上で提供される有料サービスを利用した場合には、別途本サイト上で定める有料サービス利用料及びこれにかかる消費税相当額を当社に対し支払う義務が発生するものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">12.2</span>出店者は、当月1日から月末までの有料サービス利用料を、当社の指定する方法により支払うものとします。なお、振込手数料は出店者の負担とします。</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">12.3</span>出店者は、有料サービス利用料の支払を遅滞した場合、年14.6％の遅延損害金を当社に支払うものとします。</li>
                    </ul>
                </li>

                <li class="mar-b_15">13 決済代行サービスの利用
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">13.1</span>出店者は、当社が指定した決済事業者の審査を通過し、当該決済事業者の定める決済代行サービスの利用規約に同意した場合、当該決済事業者の定める決済代行サービスを利用することができます。決済代行サービスの利用にかかる決済手数料は出店者の負担とします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">13.2</span>出店者が決済代行サービスを利用する場合、出店者は当社及び決済事業者に対して、予約金額を代理受領する権限を付与するものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">13.3</span>当社及び決済事業者は、前項の規定により代理受領した予約金額から予約手数料等及び決済手数料を差し引くことにより、予約手数料等及び決済手数料の受領に代えることができるものとします。予約手数料等の支払時期及び支払方法は決済事業者の定める利用規約に準拠するものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">13.4</span>出店者と予約者との間において予約が成立した後、取消し、解除その他の理由により当該予約が効力を失った場合（決済事業者又はその提携事業者が定めるチャージバック事由に該当すると判断された場合を含みます。）は、出店者は、当社が決済事業者に負担した金額及び当該予約に係る予約手数料等を、当社が別途指定する方法に従い、直ちに当社に対して支払わなければならないものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">13.5</span>本条の定めは11に定めるキャンセル料の支払いの場合に準用されるものとします。</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">13.6</span>出店者は、決済事業者から要求された場合、当社が出店者の情報を当該決済事業者に対して提供できることについて同意するものとします。</li>
                    </ul>
                </li>

                <li class="mar-b_15">14 債権回収の委託<p></p>
                    <p class="mar-b_5 mar-l_10">当社は、当社の裁量により決済事業者及び収納代行業者を指定の上、当該決済事業者及び収納代行業者に対し、出店料、広告料、予約手数料等その他の当社の出店者に対する金銭債権の回収委託又は譲渡を行うことができるものとし、出店者は予めこれに同意するものとします。</p>
                </li>

                <li class="mar-b_15">15 予約者の個人情報の取扱い
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">15.1</span>出店者は、予約者の個人情報を、個人情報の保護に関する法律に従って適切に取り扱うものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">15.2</span>出店者は、予約者の個人情報を、本サービスを通じて予約された提供サービスを予約者に提供するために必要な範囲でのみ使用するものとし、当該目的以外の目的のために使用しないものとします。</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">15.3</span>予約者の個人情報を保険会社その他の当社が提携する事業者に対して提供する場合には、出店者は、当該予約者からの同意の取得その他の適法な手続を経て提供しなければならないものとします。</li>
                    </ul>
                </li>

                <li class="mar-b_15">16 情報開示
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">16.1</span>出店者は、店長名、住所及び電話番号について、出店者が非公開としていた場合であっても、緊急の場合その他のやむを得ない事由があると当社が判断した場合には、個別の同意を得ることなく、予約者に開示することがあることについて同意するものとします。</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">16.2</span>出店者は、本規約又は「出店者向け個別規定」に違反した場合、予約者その他消費者保護の観点から、当社が当該出店者名及び違反事由を本サイト上で公表する可能性があることに同意するものとします。公表により、出店者が被ったいかなる損害についても、当社は一切責任を負いません。</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">16.3</span>本条の規定は、出店者の会員資格の取消又は退会後も有効に存続するものとします。</li>
                    </ul>
                </li>

                <li class="mar-b_15">17 報告義務
                    <p class="mar-b_5 mar-l_10">出店者は、以下の各号のいずれかの事由に該当することとなった場合は、直ちに当社に対してその旨を報告するものとします。</p>
                    <ul class="m_list_none mar-l_60">
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">17.1</span>支払停止若しくは支払不能となり、又は破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てがあった場合</li>
                        <li class="mar-b_5"><span class="dis_i-b mar-l_-40 wid_40">17.2</span>自ら振出し、若しくは引受けた手形若しくは小切手につき、不渡りの処分を受けた場合、又は手形交換所の取引停止処分その他これに類する措置を受けたとき</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">17.3</span>差押、仮差押、仮処分、強制執行又は競売の申立てがあった場合</li>
                        <li><span class="dis_i-b mar-l_-40 wid_40">17.4</span>租税公課の滞納処分を受けた場合</li>
                    </ul>
                </li>

            </ul>

        <div class="tex-a_r mar-b_30">
            <div>以上</div>
            <div>平成23年3月1日　制定</div>
            <div>平成24年11月27日　改定</div>
            <div>平成25年3月23日　改定</div>
            <div>平成25年11月12日　改定</div>
            <div>平成25年11月12日　改定</div>
            <div>平成28年6月16日　改定</div>
            <div>平成28年8月17日　追加及び改定</div>
            <div>平成29年10月23日　追加及び改定</div>
            <div>平成30年2月20日　追加及び改定</div>
            <div>平成30年8月20日　追加及び改定</div>
            <div>令和2年3月2日　追加及び改定</div>
            <div>令和2年8月12日　追加及び改定</div>
        </div>

        <div class="mar-b_15 lin-h_20">
            <ol class="m_list_none fon-s_12 m_breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="dis_i" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/"><span itemprop="name">くらしのマーケット</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li class="dis_i" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <strong><span itemprop="name">利用規約<meta itemprop="position" content="2"></span></strong>
                </li>
            </ol>
        </div>
    </div>
</div>