/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./user
 *= require_tree ./share
 */


 .wrap-filter {
    display: flex;
    background: #f6efe3;
    margin-bottom: 25px;
    width: 100%;
}

.filter-item {
    padding: 10px;
}

.dropdown-menu {
    width: 800px;
}

.dropdown-frame {

}

.area-navi-title {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
}

.area-navi {
    border-bottom: 1px solid #ccc;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px 20px 0px 20px;
}

.area-navi-list {
    display: inline-block;
}

.area-navi-list-btn {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    color: #27b;
    outline: 0;
    padding: 10px 24px;
    width: 100%;
}

.list-area-name {
    margin: 10px 0;
    width: 100%;
    flex-wrap: wrap;
}