// ここに@import "bootstrap"を入れないと７行目が効かない
@import "bootstrap";

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
